header.header-area .header-top {
  background-color: #FBBD0A;
}
header.header-area .header-top .content {
  padding-top: 10px;
  text-align: center;
}
header.header-area .header-top .content .text {
  color: #014AAE;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
}
header.header-area .header-middle .biolife-cart-info-2 {
  text-align: right;
}
header.header-area .header-middle .biolife-cart-info-2 .carts-info {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
header.header-area .header-middle .biolife-cart-info-2 .carts-info .cart-item {
  display: flex;
  align-items: center;
}
header.header-area .header-middle .biolife-cart-info-2 .carts-info .cart-item img {
  margin-right: 10px;
}
header.header-area .header-middle .biolife-cart-info-2 .carts-info .cart-item .content {
  font-size: 1.5rem;
  line-height: 1.25;
  color: #014AAE;
  text-align: left;
}
header.header-area .header-middle .biolife-cart-info-2 .carts-info .cart-item .content .sub {
  margin-bottom: 0;
}
header.header-area .header-middle .biolife-cart-info-2 .carts-info .cart-item .content a {
  color: #014AAE;
  margin-bottom: 0;
}
header.header-area .header-middle .biolife-cart-info-2 .carts-info .cart-item .content .phone {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 5px;
}
header.header-area .header-middle .biolife-cart-info-2 .carts-info .cart-item.right-diver::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 40px;
  background-color: #014AAE;
  margin-left: 10px;
}
header.header-area .header-bottom {
  background-color: #0097B2;
  padding-bottom: 0;
}
header.header-area .header-bottom .vertical-category-block .block-title {
  background-color: #FBBD0A;
  border-radius: 0;
  padding: 20px 50px 18px 40px;
  text-align: center;
}
header.header-area .header-bottom .vertical-category-block .block-title .menu-title {
  color: #014AAE;
}
header.header-area .header-bottom .vertical-category-block .block-title .menu-icon span {
  background-color: #014AAE;
}
header.header-area .header-bottom .vertical-category-block .block-title .menu-icon span::before {
  background-color: #014AAE;
  margin-left: -25px;
}
header.header-area .header-bottom .vertical-category-block .block-title .angle {
  position: unset;
  color: #014AAE;
  margin-left: 10px;
}
header.header-area .header-bottom .primary-menu {
  margin-top: 0;
}
header.header-area .header-bottom .primary-menu > ul {
  text-align: right;
}
header.header-area .header-bottom .primary-menu > ul > li {
  margin-left: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
header.header-area .header-bottom .primary-menu > ul > li > a {
  color: white;
  height: 62px;
  padding: 18px 12px 18px 12px;
}
header.header-area .header-bottom .primary-menu > ul > li:hover {
  background-color: #006c7f;
}
header.header-area .header-bottom .primary-menu > ul > li.active {
  background-color: #FBBD0A;
}
header.header-area .mobile-menu-toggle {
  padding: 20px 0;
}
header.header-area .biolife-sticky-object.pre-sticky.is-sticky {
  padding: 0;
}
.pre-footer {
  background-color: #fafafa;
}
.pre-footer .content {
  display: flex;
  flex-direction: row;
  padding: 30px 0;
  gap: 10px;
}
.pre-footer .content img {
  width: 400px;
  height: 110px;
  object-fit: contain;
}
.pre-footer .content p {
  color: #0097B2;
  font-weight: 600;
}
footer .footer-content {
  background-color: #0097B2;
}
footer .separator {
  margin: 10px 0;
}
footer .copy-right-text {
  margin: 12px 0;
}
footer .copy-right-text p {
  color: white;
}
footer .footer-item .section-title {
  color: white;
}
footer .contact-info-block.footer-layout li .desc {
  color: white;
}
footer .contact-info-block.footer-layout li .biolife-icon {
  color: white;
}
footer .wrap-custom-menu.vertical-menu-2 ul li a {
  color: white;
}
footer .wrap-custom-menu.vertical-menu-2 ul li a:hover {
  font-weight: bold;
  color: white;
}
footer .biolife-social ul li a {
  color: white;
}
footer .footer-item .section-sub-title {
  margin-top: 0;
  color: white;
}
.list-product-homepage .biolife-title-box {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #0097B2;
  padding-bottom: 8px;
  align-items: flex-end;
}
.list-product-homepage .biolife-title-box h3 {
  color: #0097B2;
  font-size: 3rem;
}
.list-product-homepage .biolife-title-box a {
  color: red;
}
.list-product-homepage .biolife-title-box a:hover {
  font-weight: bold;
}
.list-product-homepage .biolife-carousel {
  margin-top: 20px;
}
.list-product-homepage .biolife-carousel .style-bottom-info.layout-02 .thumbnail img {
  width: 270px;
  height: 200px;
  object-fit: contain;
  background-color: #d9d9d9;
}
.list-product-homepage .biolife-carousel .style-bottom-info.layout-02 .post-content .post-name {
  font-size: 1.75rem;
  line-height: 1.25;
  margin-top: 8px;
  margin-bottom: 8px;
  font-weight: 300;
  text-align: left;
  min-height: 44px;
}
.list-product-homepage .biolife-carousel .style-bottom-info.layout-02 .post-content .post-name .linktopost {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-page .posts-list.main-post-list li {
  margin-bottom: 10px;
}
.blog-page .posts-list .post-item .thumbnail img {
  width: 270px;
  height: 200px;
  object-fit: contain;
  background-color: #d9d9d9;
}
.blog-page .posts-list .post-item .thumbnail.product-thumbnail img {
  width: 270px;
  height: 270px;
}
.blog-page .posts-list .post-item .thumbnail.info-thumbnail img {
  width: 370px;
  height: 270px;
}
.blog-page .posts-list .post-item .post-content {
  padding: 0 10px;
  min-height: 100px;
}
.blog-page .posts-list .post-item .post-content .post-name {
  font-size: 1.5rem;
  line-height: 1.25;
  margin-top: 8px;
}
.blog-page .posts-list .post-item .post-content .post-name .linktopost {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog-page .posts-list .post-item .post-content .excerpt {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 6px;
}
.sidebar .widget .wgt-content .posts .wgt-post-item .thumb img {
  width: 80px;
  height: 55px;
  object-fit: contain;
  background-color: #d9d9d9;
}
.sidebar .widget .wgt-content .posts .wgt-post-item .detail .post-name a {
  font-size: 1.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar .widget .wgt-content .posts .wgt-post-item .detail .post-archive {
  font-size: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 6px;
}
.single-post-contain .post-head .post-name {
  line-height: 1.25;
}
.single-post-contain .post-content img {
  width: 100%;
}
.single-post-contain .post-content a {
  color: #0097B2;
  text-decoration: underline;
}
.single-post-contain .post-content a:hover {
  color: #006c7f;
}
.contact-info-container .frst-desc {
  margin: 16px 0 0;
  color: #000000;
}
.contact-info-container .addr-info {
  margin: 20px 0 0;
}
.wrap-menu .menu .menu-item .menu-name i {
  margin-right: 6px;
}
.posts-list-second-layout .post-item {
  display: flex;
}
.posts-list-second-layout .post-item .thumbnail {
  flex: 0 0 270px;
}
.posts-list-second-layout .post-item .thumbnail img {
  height: 160px ! important;
}
.posts-list-second-layout .post-item .post-content .post-name {
  margin-top: 0 !important;
  margin-bottom: 6px;
}
.posts-list-second-layout .post-item .post-content .post-name .linktopost {
  font-size: 2rem;
}
.posts-list-second-layout .post-item .post-content .post-date {
  text-align: left;
  margin-bottom: 0;
}
.posts-list-second-layout .post-item .post-content .post-teaser {
  text-align: left;
}
.blog-page .posts-list.posts-list-third-layout .post-item .post-content .post-name .linktopost {
  font-size: 2.5rem;
  text-align: center;
}
@media (max-width: 768px) {
  header.header-area .header-middle .biolife-cart-info-2 .carts-info {
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  header.header-area .header-middle .biolife-cart-info-2 .carts-info .cart-item {
    justify-content: center;
  }
  header.header-area .header-middle .biolife-cart-info-2 .carts-info .cart-item.right-diver::after {
    display: none;
  }
}
@media (max-width: 992px) {
  header.header-area .header-middle .biolife-cart-info-2 .carts-info {
    justify-content: flex-start;
  }
  .pre-footer .content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .pre-footer .content p {
    padding: 0 20px;
  }
}
@media (max-width: 1200px) {
  header.header-area .header-middle .biolife-cart-info-2 .carts-info {
    justify-content: flex-end;
  }
  header.header-area .header-bottom .vertical-category-block .block-title {
    padding: 20px 30px 18px 20px;
  }
}
